//===================COLORS VARIABLES==========================//
//Primary
$cta-text: hsl(356, 100%, 66%); // (CTA text)
$cta-hover-background: hsl(355, 100%, 74%); // (CTA hover background)
$headings: hsl(208, 49%, 24%); //(headings)

// Neutral

$text: hsl(0, 0%, 100%); //(text)
$footer-text: hsl(240, 2%, 79%); //(footer text)
$body-text: hsl(207, 13%, 34%); // (body copy)
$footer-background: hsl(240, 10%, 16%); //(footer background)

//@use ; gradient - Intro/CTA mobile nav:

$very-light-red-mobile: hsl(13, 100%, 72%);
$light-red-mobile: hsl(353, 100%, 62%);

//Background gradient - body:

$very-dark-gray-blue: hsl(237, 17%, 21%);
$very-dark-desaturated-blue: hsl(237, 23%, 32%);

///============FONTS==================================//

//fontweight

$font-weight: (
	"Light": 300,
	"Regular": 400,
	"Medium": 500,
	"Semi-bold": 600,
	"Bold": 700,
);

heading {
	font-family: "Overpass", sans-serif;
}

body {
	font-family: "Overpass", sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}

//=====================RESET HTML===========================//
*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.show {
	display: show;
}
//======================HEADER===============================//

header {
	background-color: $light-red-mobile;
	border-bottom-left-radius: 80px;
	color: $text;
	.logo {
		font-size: 1.5rem;
		z-index: 1;
		cursor: pointer;
	}

	.cta {
		display: flex;
		flex-direction: inherit;
		z-index: 1;
		.login {
			margin-top: 8px;
			margin-right: 20px;
			cursor: pointer;
			color: $text;
			&:hover {
				color: $cta-text;
			}
		}
		.sign-up {
			border-radius: 30px;
			padding: 10px 30px;
			cursor: pointer;
			background-color: $light-red-mobile;
			&:hover {
				background-color: $cta-hover-background;
			}
		}
	}

	.header-content {
		margin-top: 5rem;
		h1 {
			margin-bottom: 2rem;
			opacity: 0.9;
		}
		p {
			opacity: 0.8;
		}
	}

	.start {
		display: inline-block;
		border-radius: 28px;
		color: $cta-text;
		background: $text;
		padding: 12px 20px;
		border: none;
		font-family: inherit;
		font-weight: map-get($font-weight, Semi-bold);
		margin-right: 10px;
		cursor: pointer;

		&:hover {
			background-color: $cta-hover-background;
			color: $text;
		}
	}
	.more {
		display: inline-block;
		border-radius: 28px;
		padding: 10px 20px;
		border: 2px solid $text;
		color: $text;
		font-family: inherit;
		font-weight: map-get($font-weight, Semi-bold);
		background: transparent;

		&:hover {
			background: $text;
			color: $light-red-mobile;
		}
	}
}

// ===============MAIN====================

main {
	// ===================SECTION 1=======================
	.section1 {
		z-index: 1;
	}
	.section-title {
		display: flex;
		color: $headings;
		font-size: 20px;
	}

	.section1-content {
		display: flex;
		flex-direction: row;

		.diagram1 {
			position: relative;
			top: -90px;
			right: -200px;
			overflow: hidden;
		}
	}
}

// =============SECTION 3====================

.section3 {
	display: flex;

	.section3-content {
		h5 {
			color: $headings;
			font-size: 15px;
			margin-bottom: 20px;
		}
		p {
			line-height: 1.5;
		}
	}
}

// ===============FOOTER==================

footer {
	background-color: $footer-background;
	border-radius: 0 80px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.footer-logo {
		color: #ffff;
		font-weight: map-get($font-weight, Medium);
		font-size: 30px;
		margin: 4rem auto;
	}

	.content-items {
		margin-bottom: 3.5rem;
		p {
			margin-bottom: 1.5rem;
			color: white;
			cursor: pointer;
		}
		ul {
			cursor: pointer;
		}
		li {
			margin: 15px auto;
			font-size: 13px;
			color: $footer-text;
		}
	}
}

//======================RESPONSIVENESS====================

@media screen and (max-width: 851px) {
	body {
		overflow-x: hidden;
	}
	header {
		padding: 4rem 2rem;
		display: flex;
		flex-direction: column;
		// height: 100vh;
		overflow: hidden;
		z-index: 1;

		svg {
			position: relative;
			width: 500px;
			height: 50px;
		}

		nav {
			position: relative;
			z-index: 1;
		}

		.menu-icon {
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
			z-index: 1;
			ion-icon {
				font-size: 40px;
			}
		}
		.menu {
			display: none;
			padding: 3rem auto;
			font-weight: map-get($font-weight, Medium);
			background-color: $text;
			border-radius: 5px;
			margin-top: 2rem;
			z-index: 1;
			ul {
				display: inline-block;
				margin: 20px 30px;
				padding: 20px;
				border-radius: 5px;
				align-items: center;
				z-index: 1;
				li {
					margin-bottom: 15px;
					opacity: 0.8;
					&:hover {
						opacity: 1;
					}
				}
			}

			.menu-item {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin: 1rem auto;
				color: $headings;
				cursor: pointer;
				padding-top: 20px;
			}
			.item-heading {
				display: flex;
				justify-content: center;
				ion-icon {
					margin-left: 5px;
					position: relative;
					top: 3px;
				}
			}
			.cta {
				padding: 5px;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin: 2rem auto;
				z-index: 1;

				.login {
					margin: 20px auto;
				}
			}
		}

		.header-content {
			text-align: center;
			z-index: 1;

			h1 {
				font-size: 2.5em;
				span {
					&::before {
						content: "\A";
						white-space: pre;
					}
				}
			}
			p {
				margin-bottom: 3em;
				span {
					&::before {
						content: "\A";
						white-space: pre;
					}
				}
			}
			.cta2 {
				margin-bottom: 4em;
				z-index: 1;
			}
		}
	}
	// ================SECTION 1================
	.section1 {
		text-align: center;
		margin-bottom: 8rem;
		.section1-content {
			margin: 2em 2em;
			display: flex;
			flex-direction: column;
			.content {
				display: inherit;
				flex-direction: column;
				padding: 0 2em;
			}
		}
		h5 {
			color: $headings;
			font-size: 1em;
			margin: 1em 3em;
			font-weight: map-get($font-weight, Semi-bold);
		}

		h3 {
			font-size: 19px;
			margin: 100px auto 0;
		}

		.content-item {
			margin-bottom: 2em;
			z-index: 2;
		}
		.diagram1 {
			display: none;
		}
	}

	// =============SECTION 2=====================

	.section2 {
		background-color: $very-dark-gray-blue;
		align-items: center;
		border-radius: 0 80px 0 80px;
		color: $text;
		position: relative;

		.content2 {
			position: relative;
			top: -90px;
			text-align: center;
			line-height: 2;
			padding: 2rem 4rem;
			z-index: 1;
		}
		.diagram2 {
			position: relative;
			left: 30px;
			top: -100px;
			z-index: 1;
		}
	}

	// =============SECTION 3==============

	.section3 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.section3-content {
		display: flex;
		padding: 2rem 4rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		.content {
			margin-bottom: 2em;
		}
	}
}

@media screen and (min-width: 852px) {
	header {
		display: flex;
		flex-direction: column;
		padding: 4em 4em;
		overflow: hidden;
		height: 600px;
		nav {
			display: flex;
			flex-direction: row;
			position: relative;
		}
		.menu-icon {
			display: none;
		}
		.background-image {
			position: relative;
			top: -800px;
			left: -110px;
			background-size: 100%;
		}
		.menu {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-left: 3.5em;
			font-weight: map-get($font-weight, Semi-bold);
			z-index: 1;
			ul {
				display: none;
				margin-top: 40px;
				color: black;
				border-radius: 5px;
				background-color: #ffffff;
				padding: 10px;
				z-index: 1;
				li {
					margin-bottom: 5px;
					opacity: 0.6;
					&:hover {
						opacity: 1;
					}
				}
			}

			.menu-item {
				margin-right: 2em;
				cursor: pointer;
			}
			.item-heading {
				display: flex;
				flex-direction: row;
				position: relative;
				top: 15px;
				opacity: 0.8;
				z-index: 1;
				ion-icon {
					position: inherit;
					top: 3px;
					left: 5px;
				}
				&:hover {
					opacity: 1;
					transform: scale(1.1);
				}
			}
			.cta {
				position: absolute;
				right: 0;
				z-index: 1;
				.login {
					&:hover {
						transform: scale(1.2);
						color: $text;
					}
				}
				.sign-up {
					background-color: $text;
					color: $light-red-mobile;
					&:hover {
						background-color: $cta-hover-background;
						color: $text;
					}
				}
			}
		}

		.header-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 2em;
			z-index: 1;
			h1 {
				font-weight: map-get($font-weight, Medium);
				font-size: 40px;
			}
			p {
				padding-bottom: 2em;
			}
		}
	}

	// ==============SECTION 1================
	.section1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 4.5em;
		z-index: 3;
		h3 {
			margin-bottom: 35px;
		}
		.section1-content {
			display: flex;
			flex-direction: row-reverse;
			img {
				position: absolute;
			}
		}
		.content {
			margin: 70px 2em;
			max-width: 500px;

			.content-item {
				margin: 2em 0;
				position: relative;
				left: -100px;
			}
			h5 {
				color: $headings;
				margin-bottom: 20px;
				font-size: 1.2em;
			}
			p {
				line-height: 1.5;
			}
		}
	}

	// ======================SECTION 2================

	.section2 {
		background-color: $very-dark-desaturated-blue;
		width: 100vw;
		height: 300px;
		border-radius: 0 80px 0 80px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		color: $text;
		.content2 {
			margin: 70px auto;
			z-index: 1;
			.title {
				margin-bottom: 1em;
				font-size: 20px;
			}
			p {
				width: auto;
				line-height: 1.5;
				padding: 20px;
			}
		}
		.diagram2 {
			position: relative;
			left: 30px;
			top: -40px;
			z-index: 1;
		}
		.background-image2 {
			position: relative;
			top: -500px;
		}
	}
	// =================SECTION 3=================
	.section3 {
		padding: 7.5em 1em 4.5em 0;

		img {
			position: relative;
			display: inline-block;
			left: -150px;
		}
		.section3-content {
			position: relative;
			width: 500px;
			.content {
				margin-bottom: 2em;
			}
		}
	}
	// ================FOOTER==================//
	footer {
		display: flex;
		flex-direction: row;
		position: relative;
		.footer-logo {
			position: absolute;
			top: 1em;
			left: 4em;
		}
		.footer-content {
			padding-top: 4em;
			display: flex;
			flex-direction: row;
			position: relative;
			left: 200px;

			.content-items {
				margin-right: 100px;
			}
		}
	}

	@media screen and (min-width: 1000px) {
		.section1-content {
			.content-item {
				position: relative;
				left: -300px;
			}
		}
	}
}
