heading {
  font-family: "Overpass", sans-serif;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: #ff3d54;
  border-bottom-left-radius: 80px;
  padding: 2rem 8rem;
  color: white;
  height: 500px;
  overflow: hidden;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  font-weight: 600;
}

header nav .logo {
  font-size: 1.5rem;
  z-index: 1;
  cursor: pointer;
}

header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px auto 0 5rem;
}

header nav .menu .menu-item {
  margin-right: 2rem;
  cursor: pointer;
  z-index: 1;
}

header nav .menu .menu-item .menu-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  opacity: 0.7;
}

header nav .menu .menu-item .menu-head:hover {
  opacity: 1;
}

header nav .menu .menu-item .menu-head ion-icon {
  margin-top: 3px;
  margin-left: 5px;
}

header nav .menu article {
  display: none;
  background: white;
  color: black;
  margin-top: 20px;
  padding: 20px 20px;
  border-radius: 5px;
}

header nav .menu article li {
  margin-bottom: 10px;
  opacity: 0.7;
}

header nav .menu article li:hover {
  opacity: 1;
}

header nav .menu .display {
  display: inline-block;
}

header nav .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  cursor: pointer;
  z-index: 1;
}

header nav .cta .login {
  margin-top: 8px;
  margin-right: 25px;
  opacity: 0.9;
}

header nav .cta .sign-up {
  border-radius: 28px;
  color: #ff3d54;
  background: white;
  padding: 8px 25px;
  width: 101px;
  height: 35px;
}

header nav .cta .sign-up:hover {
  background: #ff8f70;
  color: white;
}

header .background-image {
  position: relative;
  top: -1050px;
  left: -400px;
  background-size: 100%;
}

.header-content {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.header-content h1 {
  z-index: 1;
  font-size: 60px;
  font-family: "overpass";
}

.header-content p {
  margin: 20px 0;
  font-size: 18px;
  opacity: 0.85;
  z-index: 1;
}

.header-content .cta2 {
  z-index: 1;
}

.header-content .start {
  display: inline-block;
  border-radius: 28px;
  color: #ff3d54;
  background: white;
  padding: 12px 15px;
  border: none;
  font-family: inherit;
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
}

.header-content .start:hover {
  background: #ff8f70;
  color: white;
}

.header-content .more {
  display: inline-block;
  border-radius: 28px;
  padding: 10px 15px;
  border: 2px solid white;
  color: white;
  font-family: inherit;
  font-weight: 600;
  background: transparent;
}

.header-content .more:hover {
  background: white;
  color: #ff3d54;
}

main .section1 {
  padding: 7rem 8rem 0;
  z-index: 1;
}

main .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1f3f5b;
  font-size: 20px;
}

main .section1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .section1-content div > div {
  margin: 70px auto;
  max-width: 500px;
}

main .section1-content div > div h5 {
  color: #1f3f5b;
  font-size: 15px;
  margin-bottom: 20px;
}

main .section1-content div > div p {
  line-height: 1.5;
  opacity: 0.9;
}

main .section1-content .diagram1 {
  position: relative;
  top: -90px;
  right: -200px;
  overflow: hidden;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  z-index: 1;
}

.section3 .diagram3 {
  position: relative;
}

.section3 .section3-content h5 {
  color: #1f3f5b;
  font-size: 15px;
  margin-bottom: 20px;
}

.section3 .section3-content p {
  line-height: 1.5;
  opacity: 0.9;
}

.section3 .section3-content .content3 {
  margin-top: 5rem;
}

footer {
  background-color: #25252d;
  border-radius: 0 80px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4rem 8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -70px;
}

footer .footer-logo {
  color: white;
  font-weight: 500;
  font-size: 30px;
}

footer .content-items {
  margin-left: 10rem;
}

footer .content-items p {
  margin-bottom: 1.5rem;
  color: white;
}

footer .content-items ul {
  cursor: pointer;
}

footer .content-items li {
  margin: 25px auto;
  font-size: 13px;
  color: #c8c8cb;
}

@media screen and (max-width: 728px) {
  body {
    overflow-x: hidden;
  }
  header {
    padding: 4rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
    overflow: hidden;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 1;
  }
  header .menu-icon {
    margin-left: 19.0005rem;
  }
  header .menu-icon ion-icon {
    font-size: 40px;
  }
  header .menu-item,
  header .login,
  header .sign-up {
    display: none;
  }
  header .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  header .header-content h1 {
    font-size: 40px;
  }
  header .header-content h1 span::before {
    content: "\A";
    white-space: pre;
  }
  header .header-content p {
    margin-bottom: 3rem;
  }
  header .header-content p span::before {
    content: "\A";
    white-space: pre;
  }
  header .header-content .cta2 {
    margin-bottom: 4rem;
  }
  .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem 2rem;
    margin-bottom: 8rem;
  }
  .section1 h3 {
    font-size: 19px;
  }
  .section1 .content-item {
    width: 20rem;
    text-align: center;
    z-index: 2;
  }
  .section1 .diagram1 {
    display: none;
  }
  .section2 {
    background-color: #2c2d3f;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 800px;
    border-radius: 0 80px 0 80px;
    color: white;
    position: relative;
  }
  .section2 .content2 {
    position: relative;
    bottom: 2px;
    text-align: center;
    line-height: 2;
    padding: 2rem 4rem;
    z-index: 1;
  }
  .section2 .diagram2 {
    position: relative;
    left: 30px;
    top: -150px;
    z-index: 1;
  }
  .section2 .background-image2 {
    position: relative;
    top: -350px;
    left: -200px;
  }
  .hide-overflow {
    overflow: hidden;
    width: 500px;
    height: 500px;
    border-top-right-radius: 105px;
    position: absolute;
    top: 0;
  }
  .section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section3-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer-logo {
    margin-bottom: 4rem;
  }
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-items {
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */